<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>500</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css"
	href="lib/bootstrap/css/bootstrap.css"
	th:href="@{/admin/lib/bootstrap/css/bootstrap.css}" />

<link rel="stylesheet" type="text/css" href="stylesheets/theme.css"
	th:href="@{/admin/stylesheets/theme.css}" />
<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css"
	th:href="@{/admin/lib/font-awesome/css/font-awesome.css}" />

<script src="lib/jquery-1.7.2.min.js" type="text/javascript"
	th:src="@{/admin/lib/jquery-1.7.2.min.js}"></script>

<!-- Demo page code -->

<style type="text/css">
#line-chart {
	height: 300px;
	width: 800px;
	margin: 0px auto;
	margin-top: 1em;
}

.brand {
	font-family: georgia, serif;
}

.brand .first {
	color: #ccc;
	font-style: italic;
}

.brand .second {
	color: #fff;
	font-weight: bold;
}
</style>


</head>


<body class="http-error">
	<!--<![endif]-->

	<div class="row-fluid">
		<div class="http-error">
			<div class="http-error-message">
				<div class="error-caption">
					<p>Oops!</p>
				</div>
				<div class="error-message">
					<p>500系统内部错误！</p>
					<p class="return-home">
						<a href="index.html">Back to the home page</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<script src="lib/bootstrap/js/bootstrap.js"
		th:src="@{/admin/lib/bootstrap/js/bootstrap.js}"></script>
	<script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>

</body>
</html>


