<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
<a>dafafa</a>
<p>code</p>
	<!-- <table cellspacing="0" cellpadding="20">  
        <tr>  
            <td>  
                <table width="500" cellspacing="0" cellpadding="1">  
                    <tr>  
                        <td bgcolor="#FF8E00" align="left"  
                            style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;line-height:150%;color:#FFF;font-size:24px;font-weight:bold;padding:4px">   
                           	社区  
                           	</td>
                        <th></th>  
                    </tr>  
                    <tr>  
                        <td bgcolor="#FF8E00">  
                            <table width="100%" cellspacing="0" bgcolor="#FFFFFF"  
                                cellpadding="20">  
                                <tr>  
                                    <td  
                                        style="font-family:'lucida grande',tahoma,'bitstream vera sans',helvetica,sans-serif;line-height:150%;color:#000;font-size:14px;">  
                                        亲爱的gg：  
                                        <blockquote>  
                                            <br/> <strong>您在gifer.com的帐户${userId}密码忘记了？该邮件为你提供临时密码，请及时登录，修改您的密码。</strong><br/>  
                                            <br/>如果下面链接不可用，请复制下面的链接到浏览器进行访问，以便修改你的帐户密码。<br/>帐户密码修改链接:<br/>  
                                            <br/>  
                                        </blockquote> <br/> <br/>GIFER 社区<br/> <a  
                                        href="http://localhost:10002/UserManager/" target="_blank">http://localhost:10002/UserManager/</a>  
                                        <br/>发送时间：<br/> <br/>此邮件为系统自动发出，请勿回复。</td>  
                                          
                                </tr>  
                            </table>
                           </td>  
                    </tr>  
                </table></td>  
        </tr>  
    </table>   -->
</body>
</html>