<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>首页</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/icon.css" />
<link rel="stylesheet" href="css/link.css" />
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header class="aw-top-menu-wrap" th:include="fragments :: header"></header>
	<section class="aw-container-wrap">
		<div class="container">
			<div class="row">
				<div class="aw-content-wrap clearfix">
					<div class="col-sm-12 col-md-9 aw-main-content">
						<!-- tab切换 -->
						<ul class="nav nav-tabs aw-nav-tabs active hidden-xs">

							<li class="active">
								<a href="">全部</a>
							</li>
							<h2 class="hidden-xs">
								<i class="icon icon-topic"></i>
								热门话题
							</h2>
						</ul>
						<!-- end tab切换 -->

						<!-- 我关注的话题 -->
						<div class="aw-mod aw-topic-list">
							<div class="mod-body clearfix">
								<div class="aw-item" th:each="section : ${sections}">
									<!-- 话题图片 -->
									<a class="img aw-border-radius-5" th:href="@{'/section?sectionId=' + ${section.id}}">
										<img width="50px" height="50px" th:src="@{${section.avatar}}" />
									</a>
									<!-- end 话题图片 -->
									<p class="clearfix">
										<!-- 话题内容 -->
										<span class="topic-tag">
											<a class="text" th:href="@{'/section?sectionId=' + ${section.id}}" th:text="${section.name}"></a>
										</span>
										<!-- end 话题内容 -->
									</p>
									<p class="text-color-999">
										<span th:text="${section.articles} + '篇文章'"></span>
									</p>
								</div>
							</div>
						</div>
						<!-- end 我关注的话题 -->
					</div>
					<!-- 侧边栏 -->
					<div class="col-md-3 aw-side-bar hidden-xs hidden-sm">
						<div class="aw-mod side-nav">
							<div class="mod-body">
								<ul>
									<li>
										<a href="users">
											<i class="icon icon-user"></i>
											所有用户
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end 侧边栏 -->
				</div>
			</div>
		</div>
	</section>
	<footer class="aw-footer-wrap" th:include="fragments :: footer"></footer>
</body>
</html>